.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: #075d3d;
  transform: 0.7s;
}

.Make-post {
  background-color: #6796ab;
  position: absolute;
  flex-direction: column;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.main-textbox {
  font-family: 'Arial', sans-serif;
}